.box{
    height: 100px;
    width: 400px;
    background-color: blue;
    animation-name: firstAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;


    

}


@keyframes firstAnimation{
    from{
        font-size: 30px;
    } 
    to{
        font-size: 40px;
    }
}