#card{
    height: 200px;
    width: 200px;
    /* border: 2px solid black; */
    box-shadow: 3px 3px 8px black;
    border-radius: 4%;
    line-height: 3px;
    margin-left: 4px;
}

#info{
    margin-left: 4px;
}

img{
    width: 100%;
}

#card:hover{
    box-shadow: 6px 6px 10px black;

}
