div
{
    height: 200px;
    width: 200px;
    background-color: darkslategrey;
    

}

div:hover{
    background-color: aqua;
    transition-duration: 1s;
    transition-delay: 1s;
    border-radius: 50%;

}


